/** Project specifics vars **/
$color_blue: #0071ce;
$color_logo_blue: #00ccff;
$color_cyan: #00ccff;
$color_yellow: #ffde66;
$color_orange: orange;
$screen_orange: #fab739;
$color_gray: #878a8e;
$color_darkgray: #6d6e71;
$color_verydarkgray: #545558;
$color_lightblack: #323232;
$color_middlegray: #a8adb1;
$color_lightgray: #ebebeb;
$color_verylightgray: #F6F6F6;
$color_backgroundgray: $color_verylightgray;
$color_middleLightGray: #bfc4c8;

/* CELLS */

$cell-height: 100px;
$cell-width: 120px;

$map-field-height: $cell-height*0.75;
$map-field-width: $cell-width;

$player-field-height: $cell-height - $map-field-height;
$player-field-width: $cell-width;





